body{
    background: #606060;
    color: #fff;
    text-align: center;
}
h1{
    font-size: 50px;
}
input{
    background: #00000044;
    color: #fff;
    border-radius: 4px;
    height: 30px;
    width: 250px;
}
button{
    background: #f00;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    width: 90px;
}