body{
    font-family: Arial, Helvetica, sans-serif;
}
td{
    border: 1px solid #000;
    padding: 8px;
}
table{
    width: 600px;
    border-collapse: collapse;
}
.linha-1{
    background: #22ff00;
}
.linha-2{
    background: #f00;
}
.linha-3{
    background: #1900ff;
}
.linha-4{
    background: #ff9500;
}
#a1{
    background: #fff;
}
#b2{
    background: #fff;
}
#c3{
    background: #fff;
}
#d2{
    background: #fff;
}
